{% extends 'base.html.twig' %}

{% block title %}ConcertProject{% endblock %}

{% block body %}

    <div class="content">
        <h1>Nos concerts à venir : </h1>

        <div class="grille">
            {% for concert in concerts %}
                <div class="card">
                    <div class="row">
                        <div class="col-4">
                            {% if concert.picture is null %}
                                <img class="image" src="/concertProject/public/images/index.jpg">
                            {% endif %}
                            {% if concert.picture is not null %}
                                <img class="image" src="{{ concert.picture.url }}">
                            {% endif %}
                        </div>
                        <div class="col-8 nom">
                            <div class="row"><a href="{{path('concert_show', {id : concert.id })}}">{{concert.name}}</a></div>
                            <div class="row"><p>{{concert.date|date("m/d/Y")}}</p></div>

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
