{% extends 'base.html.twig' %}

{% block title %}Groupe
{% endblock %}

{% block body %}

	<div class="content">
		<h1>Nos groupes : </h1>

		<div class="grille">
			{% for band in bands %}
				<div class="card">
					<div class="row">
						<div class="col-5">
							{% if band.picture is null %}
								<img class="image" src="/concertProject/public/images/index.jpg">
							{% endif %}
							{% if band.picture is not null %}
								<img class="image" src="{{ band.picture.url }}">
							{% endif %}
						</div>
						<div class="col-7 nom">
							<a href="{{path('band_show', {id : band.id })}}">{{band.name}}</a>
							<p>({{band.getStyle()}})</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

