{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
<div class="content">
    {{form(form)}}
</div>
{% endblock %}
